.products{
    min-height: 370px;
}

.uniformes-escolares{
    width: 334px;
    height: 245px;
}

.uniformes-medicos{
    width: 272px;
    height: 245px;
}

.uniformes-corporativos{
    width: 326px;
    height: 245px;
}