<div class="products">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br>
               <h2>Productos</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div>
               <img class="image-center uniformes-escolares" src="https://garrybruno.com.ve/modas-timay/assets/img/uniformes-escolares.png">
            </div>
            <div class="text-center">
                <h4>Uniformes escolares</h4>
              </div>
            </div>
            <div class="col-md-4">
                <div>
                    <img class="image-center uniformes-medicos" src="https://garrybruno.com.ve/modas-timay/assets/img/uniformes-medicos.png">
                </div>
                <div class="text-center">
                    <h4>Uniformes médicos</h4>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                <img class="image-center uniformes-corporativos" src="https://garrybruno.com.ve/modas-timay/assets/img/uniformes-corporativos.png">
            </div>
            <div class="text-center">
                <h4>Uniformes corporativos</h4>
            </div>
            </div>
        </div>
    </div>
</div>