<div class="contacts">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div id="map" class="map"></div>
            </div> 
            <div class="col-md-8 contact-info">
                <br>
                <h2>Contáctenos</h2>
                <p>
                    Teléfonos: (0412) 368.95.33 / (0212) 576.96.75<br>
                    Correo: modastimay@gmail.com<br>
                    Instagram: <a href="https://www.instagram.com/modastimay/" target="_blank">@modastimay</a><br>
                </p>
                <h2>Dirección</h2>
                <p>
                    Avenida Lecuna, Complejo Urbanistico Parque Central, Torre El Tejar,<br>
                    Nivel oficina, piso 1. Oficina 103. Caracas, Venezuela. 
                </p>
                <br>
            </div>
        </div>
    </div>
</div>