.contacts{
    min-height: 340px;
    background-color: rgb(204,190,139);
}
.contact-info{
    color:white;
}
a{
    color: white;
}
.map-contact{
    width: 200px!important;
    height: 200px!important;
    position: relative;
}
  
#map {
    width:100%;
    height:340px;
    position: inherit;
}
