<div class="aboutus">
    <div class="container">
        <div class="row">
            <div class="col-md-8 contact-info">
                <br>
                <h2>¿Quiénes sómos?</h2>
                <p>
                    Modas Timay una empresa textil fundada en el año 2007, que se enfoca en <br>
                    la elaboración de prendas de vestir de diferentes estilos.
                </p>
                <p>
                    Con el pasar de los años nos hemos desenvuelto en la fabricación de <br>
                    uniformes corporativos y escolares para una gran variedad de empresas <br>
                    e instituciones académicas, respectivamente, brindando productos de <br>
                    calidad que puedan satisfacer de manera adecuada las necesidades <br>
                    de nuestros clientes.
                </p>
                <p>
                    Además, ofrecemos diferentes prendas para el ámbito médico y <br>
                    deportivo, así como ropa casual para diferentes momentos.
                </p>
                <br>
            </div>
            <div class="col-md-4">
               <div class="parallax"></div>
            </div>
        </div>
    </div>
</div>