<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <br>
                <img class="image-center icon" src="https://garrybruno.com.ve/modas-timay/assets/img/icono.png">
            </div>
            <div class="col-md-11">
                <br>
                <p>
                    Modas Timay Fashion C.A. | Rif. J-29410576-9<br>
                    Todos los derechos reservados<br>
                    {{ year }}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11">
                <br>
                <p class="sign-developer">
                    Desarrollado por: <a href="https://garrybruno.com.ve" target="_blank">Garry Jr. Bruno</a>
                </p>
            </div>
            <div class="col-md-1">
                <br>
                <a href="https://garrybruno.com.ve" target="_blank">
                    <img class="image-center icon-developer" src="https://garrybruno.com.ve/modas-timay/assets/img/icono-garry-bruno.png">
                </a>
            </div>
            
        </div>
    </div>
</div>